.App {
  font-family: monospace;
  text-align: center;
}

ul {
  text-align: left;
}

li {
  margin-top: 5px;
  width:35vw;
  display:flex;
  justify-content: space-between;
}

li > button {
  margin-left: 10px;
}
